@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --background-color-1: radial-gradient(ellipse at center, #f6fffd 20%, #f3faf8 100%);
    --background-color-2: radial-gradient(ellipse at center, #f5fffa 20%, #e7eeec 100%);
    --nav-background-color: radial-gradient(ellipse at bottom, rgba(244, 255, 248, 0.95) 0%, #f3fff8 80%);
    --overlay-color: rgba(0, 0, 0, 0.5);
    --linear-border: linear-gradient(135deg, #508D4E, #D6EFD8);
    --normal-text-color: #1a4619;
    --white-text-color: white;
    --lighter-text-color: #508D4E;
    --green-scale-1: #D6EFD8;
    --green-scale-2: #80AF81;
    --green-scale-3: #508D4E;
    --green-scale-4: #1A5319;
    --scroll-bar-color: rgba(128, 175, 119, 0.5);
}

.green-scale-1 {
    color: var(--green-scale-1);
}

.green-scale-2 {
    color: var(--green-scale-2);
}

.green-scale-3 {
    color: var(--green-scale-3);
}

.green-scale-4 {
    color: var(--green-scale-4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    overflow-x: hidden;
    font-size: 16px;

    scroll-behavior: smooth;
    /*scrollbar-color: var(--scroll-bar-color) transparent;*/
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
}

h4 {
    font-size: 1.75rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

.bold  {
    font-weight: 600;
    font-size: 1.25rem;
}

body {
    /*background: var(--background-color-1);*/
    /*font-size: 1.7rem;*/
    color: var(--normal-text-color)
}

body::-webkit-scrollbar {
    width: 5px;

    &:hover {
        width: 8px;
    }
}

body::-webkit-scrollbar-thumb {
    background: var(--scroll-bar-color);
    border-radius: 2px;
}

body::-webkit-scrollbar-track {
    background: var(--scroll-bar-color);
    opacity: 0.5;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.hidden {
    display: none;
}

.direct-button, button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100%;
    padding: 1rem;
    border-radius: 5px;
    /*background: transparent;*/
    border: 0.25rem solid var(--green-scale-2);

    /*color: var(--lighter-text-color);*/
    font-weight: 600;

    z-index: 1;

    transition: all 0.3s ease-in-out;
}

.direct-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    /*background: var(--green-scale-2);*/
    z-index: -1;

    transition: width 0.3s ease-in-out, color 0.3s ease-in-out;
}

.direct-button:hover {
    /*color: var(--white-text-color);*/

    &::before {
        width: 100%;
    }
}

.direct-button:nth-child(odd) {
    color: var(--lighter-text-color);
    background: transparent;

    &::before {
        background: var(--green-scale-2);
    }

    &:hover {
        color: var(--white-text-color);
    }
}

.direct-button:nth-child(even) {
    color: var(--white-text-color);
    background: var(--green-scale-2);

    &::before {
        background: var(--background-color-1);
    }

    &:hover {
        background: var(--green-scale-3);
    }
}

button {
    background: var(--green-scale-2);
    color: var(--white-text-color);
    transition: all 0.1s ease-in-out;
    font-size: 1.25rem;

    cursor: pointer;

    &:hover {
        transform: scale(1.05);

    }

    &:active {
        transform: scale(0.9);
    }
}

img {
    max-width: 100%;
}

.copyright {
    color: var(--overlay-color);
    p {
        font-size: 0.75rem;
    }
}

.non-break {
    white-space: nowrap;
}

.paragraph {
    margin: 0.5rem 0 1rem 0;
}

.high-light {
    color: var(--white-text-color);
    background: var(--green-scale-3);
    padding: 0.1rem 0.5rem;
    border-radius: 5px;
}

.note {
    color: var(--normal-text-color);
    font-weight: 600;
    position: relative;
    font-size: 1.1rem;
}

.note:hover {
    color: var(--lighter-text-color);
}

/* Loading */
.loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1rem;
    transform: translate(-50%, -50%);
    color: var(--lighter-text-color);

    .loading {
        display: flex;
        justify-content: center;
        gap: 8px;
        p {
            display: inline-block;
            margin-right: 5px;
        }
        .bounce-ball {
            position: relative;
            display: inline-block;
            height: 37px;
            width: 10px;
            &:before {
                position: absolute;
                content: '';
                display: block;
                top: 0;
                width: 10px;
                height: 10px;

                background-color: var(--green-scale-3);
                border-radius: 50%;
                transform-origin: 50%;
                animation: bounce 500ms alternate infinite ease;
            }
        }

        .bounce-ball:nth-child(3):before {
            animation-delay: 100ms;
        }

        .bounce-ball:nth-child(2):before {
            animation-delay: 0ms;
        }

        .bounce-ball:nth-child(4):before {
            animation-delay: 200ms;
        }
    }
}

@keyframes bounce {
    0% {
        top: 35px;
        height: 5px;
        border-radius: 60px 60px 20px 20px;
        transform: scaleX(2);
    }
    35% {
        height: 10px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    85% {
        top: 5px;
    }
    100% {
        top: 5px;
    }
}


/* Navbar */
.overlay {
    box-shadow: 0 0 0 100vw var(--overlay-color);
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background: var(--nav-background-color);
    /*opacity: 0.9;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 3rem;

    .logo {
        position: relative;
        h1 {
            font-size: 1.25rem;
            font-weight: 700;
            color: var(--normal-text-color);
        }
        span {
            color: var(--lighter-text-color);
        }

        h1::before {
            content: '';
            position: absolute;
            top: 0.3rem;
            left: -0.3rem;
            width: 100%;
            height: 100%;
            background: var(--green-scale-2);
            transition: transform 0.3s ease-in-out;
            z-index: -1;

            clip-path: polygon(0 0, 0% 50%, 25% 0%);
        }
    }

    .navbar {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        display: flex;
        /*gap: 3rem;*/
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        width: 40vw;
        height: 100%;

        position: fixed;
        right: 0;
        top: 0;
        transform: translateX(100%);
        opacity: 0;

        box-shadow: 0 0 0 100vw var(--overlay-color);

        background: var(--nav-background-color);
        transition: all 0.3s ease-in-out;

        z-index: 100;

        ul {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            justify-content: center;
            align-items: center;

            a {
                font-size: 1.25rem;
            }
        }

        #menu-logo {
            h1 {
                font-size: 2rem;
            }
        }
    }

    .menu.active {
        transform: translateX(0);
        opacity: 1;
    }

    .menu-button {
        display: none;
        position: relative;

        .menu-icon {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-end;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            gap: 0.2rem;

            position: absolute;
            right: 0;
            top: 0;
            z-index: 200;
            overflow: visible;

            .bar {
                /*width: 1.5rem;*/
                height: 2px;
                background: var(--overlay-color);
                border-radius: 5px;
                transition: all 0.3s ease-in-out;

                &:nth-child(1) {
                    width: 1.5rem;
                }

                &:nth-child(2) {
                    width: 1rem;
                }

                &:nth-child(3) {
                    width: 1.25rem;
                }
            }
        }

        &:hover {
            .menu-icon .bar {
                background: var(--lighter-text-color);
            }
        }

        .menu-icon.active {

            .bar:nth-child(1) {
                transform: rotate(405deg) translate(0.2rem, 0.3rem);
            }

            .bar:nth-child(2) {
                transform: translateX(-1rem) rotate(45deg);
                opacity: 0;
            }

            .bar:nth-child(3) {
                width: 1.5rem;
                transform: rotate(-405deg) translate(0.2rem, -0.3rem);
            }
        }
    }

    .menu-button.active {
        display: flex !important;
    }

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .dot {
            width: 5px;
            height: 5px;
            border-radius: 50%;

            transition: background-color 0.3s ease-in-out;
        }

        label {
            display: flex;
            gap: 1rem;
        }

        a {
            white-space: nowrap;
            animation: color 0.3s ease-in-out;
            color: var(--normal-text-color);

            &:visited {
                color: var(--normal-text-color);
            }
        }

        &:hover {
            .dot {
                background-color: var(--lighter-text-color);
                box-shadow: 0 0 2px var(--green-scale-3);
            }

            a {
                color: var(--lighter-text-color);
            }
        }
    }

    .selected {
        .dot {
            background-color: var(--green-scale-3);
            box-shadow: 0 0 2px var(--green-scale-3);
        }

        a {
            color: var(--green-scale-3);
        }
    }
}

/* Social */
.social {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    position: fixed;
    bottom: 10%;
    left: 0;

    height: 40%;
    padding: 0 1rem;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--background-color-1);
        border-radius: 50%;
        width: 3rem;
        min-height: 3rem;
        min-width: 3rem;
        height: 3rem;
        box-shadow: 0 0 4px var(--green-scale-2);
        opacity: 0.8;
        font-size: 1.25rem;

        transition: all 0.3s ease-in-out;


        &:hover {
            transform: scale(1.2);
            box-shadow: 0 0 8px var(--green-scale-1);
            opacity: 1.0;
        }
    }
}

/* Content */
.content {
    gap: 0;
    width: 100vw;
}

/* Section */
.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem 8rem;

    height: 100vh;

    &:nth-child(odd) {
        background: var(--background-color-1);
    }

    &:nth-child(even) {
        background: var(--background-color-2);
        flex-direction: row-reverse;
    }
}

.text-content {
    flex: 3 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;

    min-width: 40vw;
}

.visual-content {
    flex: 2 1;
    min-width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Specific */
/* Home */
#home-img {
    position: relative;
    width: 100%;
    height: 100%;

    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;

    &:hover {
        img {
            transform: scale(1.1);
        }

        .sub-img {
            transform: scale(1.1);
        }

        .sub-img:nth-child(2) {
            transform: translate(-85%, -15%);
        }

        .sub-img:nth-child(3) {
            transform: translate(85%, 15%);
        }
    }
}

#home-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    aspect-ratio: 4/5;
    object-position: top;
    z-index: 2;
    box-shadow: 0 0 4px 0 var(--overlay-color);
    transition: transform 0.3s ease-in-out;
}

#home-img .sub-img {
    position: absolute;
    width: 60%;
    height: 60%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;

    &:nth-child(2) {
        top: 50%;
        left: 50%;
        transform: translate(-80%, -80%);
        background: var(--green-scale-2);
    }

    &:nth-child(3) {
        bottom: 50%;
        right: 50%;
        transform: translate(80%, 80%);
        background: var(--green-scale-3);
    }
}

.btn-box {
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2vw;
    font-size: 1.25rem;
}

.high-five:before,
.high-five:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}
.high-five.animate::before {
    top: -70%;
    background-image: radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, var(--green-scale-2) 20%, transparent 30%),
    radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%),
    radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--green-scale-2) 15%, transparent 20%),
    radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%),
    radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%),
    radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%),
    radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
    animation: topBubbles ease-in-out 0.6s forwards infinite;
}

.high-five.animate::after {
    bottom: -70%;
    background-image: radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%),
    radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--green-scale-2) 15%, transparent 20%),
    radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%),
    radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%),
    radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%),
    radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    animation: bottomBubbles ease-in-out 0.6s forwards infinite;
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0 80%, 0 20%, 10% 40%, 20% 0, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
    100% {
        background-position: 0 70%, 0 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
        background-size: 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0;
    }
    50% {
        background-position: 0 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0;
    }
    100% {
        background-position: 0 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
        background-size: 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
    }
}

/* About me */
.slider-wrapper {
    position: relative;
    width: 90%;
    height: auto;
}

.slider {
    display: flex;
    flex-direction: row;
    aspect-ratio: 4/5;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    box-shadow: 1rem 1rem 3rem -1rem var(--overlay-color);
    border-radius: 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;


    .img-slider {
        flex: 1 0 100%;
        scroll-snap-align: start;
        object-fit: cover;
        object-position: top;
        scroll-behavior: smooth;
    }

    #img2 {
        object-position: center;
    }
}

.slider-nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    a, a:visited {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 0.25rem;
        background: var(--white-text-color);
        opacity: 0.8;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    a {
        &:hover {
            opacity: 1.0;
        }
    }

    .active {
        width: 1.5rem;
        opacity: 1.0;
    }
}

.slider-button {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;

    button {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background: var(--overlay-color);
        opacity: 0.8;
        color: var(--white-text-color);
        font-weight: 700;
        border: none;
    }
}

/* Responsive */
@media (max-width: 1200px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 12px;
    }

    .nav-container {
        .navbar {
            display: none;
        }

        .menu-button {
            display: block;
        }
    }

    .nav-container .menu {
        width: 60vw;
    }

    .section {
        flex-direction: column;
        text-align: center;
        padding: 4rem 6rem;
    }

    .text-content {
        flex: 1 0;
        align-items: center;
    }

    .visual-content {
        flex: 1 1;
    }

    .btn-box {
        justify-content: center;
    }

    #home-img {
        height: 40vh;
        width: auto;
    }

    #home-img img {
        aspect-ratio: 1/1;
        height: 100%;
        width: auto;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 11px;
    }
}

@media (max-width: 425px) {
    html {
        font-size: 10px;
    }
}