@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --background-color-1: radial-gradient(ellipse at center, #f6fffd 20%, #f3faf8 100%);
    --background-color-2: radial-gradient(ellipse at center, #f5fffa 20%, #e7eeec 100%);
    --nav-background-color: radial-gradient(ellipse at bottom, rgba(244, 255, 248, 0.95) 0%, #f3fff8 80%);
    --overlay-color: rgba(0, 0, 0, 0.5);
    --linear-border: linear-gradient(135deg, #508D4E, #D6EFD8);
    --normal-text-color: #1a4619;
    --white-text-color: white;
    --lighter-text-color: #508D4E;
    --green-scale-1: #D6EFD8;
    --green-scale-2: #80AF81;
    --green-scale-3: #508D4E;
    --green-scale-4: #1A5319;
}

.green-scale-1 {
    color: var(--green-scale-1);
}

.green-scale-2 {
    color: var(--green-scale-2);
}

.green-scale-3 {
    color: var(--green-scale-3);
}

.green-scale-4 {
    color: var(--green-scale-4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    overflow-x: hidden;
    font-size: 16px;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
}

p {
    font-size: 1.25rem;
    font-weight: 400;
}

body {
    /*background-color: white;*/
    font-size: 1.7rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.hidden {
    display: none;
}

/* Responsive font */
@media (max-width: 1200px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 11px;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 10px;
    }
}

/* Loading */
.loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1rem;
    transform: translate(-50%, -50%);
    color: var(--lighter-text-color);

    .loading {
        display: flex;
        justify-content: center;
        gap: 8px;
        p {
            display: inline-block;
            margin-right: 5px;
        }
        .bounce-ball {
            position: relative;
            display: inline-block;
            height: 37px;
            width: 10px;
            &:before {
                position: absolute;
                content: '';
                display: block;
                top: 0;
                width: 10px;
                height: 10px;

                background-color: var(--green-scale-3);
                border-radius: 50%;
                transform-origin: 50%;
                animation: bounce 500ms alternate infinite ease;
            }
        }

        .bounce-ball:nth-child(3):before {
            animation-delay: 100ms;
        }

        .bounce-ball:nth-child(2):before {
            animation-delay: 0ms;
        }

        .bounce-ball:nth-child(4):before {
            animation-delay: 200ms;
        }
    }
}

@keyframes bounce {
    0% {
        top: 35px;
        height: 5px;
        border-radius: 60px 60px 20px 20px;
        transform: scaleX(2);
    }
    35% {
        height: 10px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    85% {
        top: 5px;
    }
    100% {
        top: 5px;
    }
}


/* Navbar */
.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background: var(--nav-background-color);
    /*opacity: 0.9;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;

    .navbar {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        /*color: black;*/

        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .dot {
                width: 5px;
                height: 5px;
                border-radius: 50%;

                transition: background-color 0.3s ease-in-out;
            }

            .bar {
                width: 100%;
                height: 2px;
                border-radius: 2px;

                transition: background-color 0.3s ease-in-out;
            }

            label {
                display: flex;
                gap: 1rem;
            }

            a {
                white-space: nowrap;
                animation: color 0.3s ease-in-out;
                color: var(--normal-text-color);

                &:visited {
                    color: var(--normal-text-color);
                }
            }

            &:hover {
                .dot {
                    background-color: var(--green-scale-4);
                    box-shadow: 0 0 2px var(--green-scale-3);
                }

                a {
                    color: var(--green-scale-4);
                }

                .bar {
                    background-color: var(--green-scale-4);
                }
            }
        }

        .selected {
            .dot {
                background-color: var(--green-scale-3);
                box-shadow: 0 0 2px var(--green-scale-3);
            }

            a {
                color: var(--green-scale-3);
            }
        }
    }
}

/* Social */
.social {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    position: fixed;
    bottom: 10%;
    left: 0;

    height: 40%;
    padding: 0 1rem;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--background-color-1);
        border-radius: 50%;
        width: 3rem;
        min-height: 3rem;
        min-width: 3rem;
        height: 3rem;
        box-shadow: 0 0 3px var(--green-scale-2);

        transition: transform 0.3s ease-in-out;


        &:hover {
            transform: scale(1.2);
        }
    }
}

/* Content */
.content {
    gap: 0;
    color: var(--normal-text-color);

    /* Section */
    .section {
        height: 100svh;
        padding: 0 8rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &:nth-child(odd) {
            background: var(--background-color-1);
        }

        &:nth-child(even) {
            background: var(--background-color-2);
            flex-direction: row-reverse;
        }
    }
}

/* Specific */
/* Home */
#home {
    #home-content {
        strong {
            color: var(--white-text-color);
            background: var(--green-scale-3);
            padding: 0.1rem 0.5rem;
            border-radius: 5px;
        }

        .bold {
            font-weight: 700;
        }

        .paragraph {
            margin: 2rem 0;
        }

        .btn-box {
            height: 8vh;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 2vw;
            font-size: 1.25rem;

            a, button {
                position: relative;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: fit-content;
                height: 100%;
                padding: 1rem;
                border-radius: 5px;
                background: transparent;
                border: 0.25rem solid var(--green-scale-2);

                color: var(--lighter-text-color);
                font-weight: 600;

                z-index: 1;

                transition: all 0.3s ease-in-out;

                &:active {
                    transform: scale(0.95);
                }
            }

            a::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background: var(--green-scale-2);
                z-index: -1;

                transition: width 0.3s ease-in-out, color 0.3s ease-in-out;
            }

            a:hover {
                color: var(--white-text-color);

                &::before {
                    width: 100%;
                }
            }

            button {
                background: var(--green-scale-2);
                color: var(--white-text-color);
                transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
                font-size: 1.25rem;

                cursor: pointer;
            }

            .high-five:before,
            .high-five:after {
                position: absolute;
                content: "";
                width: 150%;
                left: 50%;
                height: 100%;
                transform: translateX(-50%);
                z-index: -1000;
                background-repeat: no-repeat;
            }
            .high-five.animate::before {
                top: -70%;
                background-image: radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%),
                radial-gradient(circle, transparent 20%, var(--green-scale-2) 20%, transparent 30%),
                radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%),
                radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%),
                radial-gradient(circle, transparent 10%, var(--green-scale-2) 15%, transparent 20%),
                radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%),
                radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%),
                radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%),
                radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%);
                background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
                10% 10%, 18% 18%;
                animation: topBubbles ease-in-out 0.6s forwards infinite;
            }

            .high-five.animate::after {
                bottom: -70%;
                background-image: radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%),
                radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%),
                radial-gradient(circle, transparent 10%, var(--green-scale-2) 15%, transparent 20%),
                radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%),
                radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%),
                radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%),
                radial-gradient(circle, var(--green-scale-2) 20%, transparent 20%);
                background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
                animation: bottomBubbles ease-in-out 0.6s forwards infinite;
            }
        }
    }

    #home-img {
        position: relative;
        width: 20vw;

        &:hover {
            .sub-img:nth-child(odd) {
                transform: scale(1.1) translateX(40%) translateY(-80%);
            }

            .sub-img:nth-child(even) {
                transform: scale(1.1) translateX(-40%) translateY(80%);
            }

            img {
                transform: scale(1.1);
            }

        }

        img {
            position: relative;
            width: 100%;
            border-radius: 10px;

            z-index: 2;

            transform: scale(1.0);
            transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        }

        .sub-img {
            position: absolute;
            width: 60%;
            height: 60%;
            border-radius: 10px;
            transition: transform 0.3s ease-in-out;
        }

        .sub-img:nth-child(odd) {
            background-color: var(--green-scale-3);
            bottom: 0;
            right: 0;
            transform: translateX(20%) translateY(5%);
        }

        .sub-img:nth-child(even) {
            background-color: var(--green-scale-2);
            top: 0;
            left: 0;
            transform: translateX(-20%) translateY(-10%);
        }
    }
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0 80%, 0 20%, 10% 40%, 20% 0, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
    100% {
        background-position: 0 70%, 0 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
        background-size: 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0;
    }
    50% {
        background-position: 0 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0;
    }
    100% {
        background-position: 0 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
        background-size: 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
    }
}